@media (min-width: 601px) and (max-width:900px){ 
.twelve, .nine, .six, .five, .four, table, .row, header, .header, .text3 {
width: 100% !important;
margin: 0;
padding: 0;
}
 .ptext, p, h1, h2, h3, h4{
	 width: 100% !important;
 }
 .logo-text {
    position: absolute;
    top: 10px;
    left: 55px;
}
.submenu {
	display:none;
}
}
@media only screen and (max-width: 600px) {
.twelve, .nine, .six, .five, .four, table, .row, header, .header, .text3 {
width: 100% !important;
margin: 0;
padding: 0;
}
 .ptext, p, h1, h2, h3, h4{
	 width: 100% !important;
 }
 .ptext {
 padding: 25px;
 }
 .text2 {
    float: none;
    padding: 0;
    width: 100%;
}
.logo-text {
    position: absolute;
    top: 0 !important;
    left: 45px !important;
}
.submenu {
	display:none;
}
.box {
    position: absolute;
    top: 205px;
    left: 14px;
	width: 100%;
}
.slider {
    background-position: 124% top;
    background-size: 81% 156%;
    height: 450px;
}
.menu li {
    display: block;
    padding: 0;
}
}
@media only screen and (max-width: 900px) {
	
}